{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@utils": "./src/utils",
          "@images": "./src/assets/images",
          "@styled": "./src/components/styled"
        }
      }
    ]
  ]
}
